{% load static %}

{% include 'partials/header.html' %}

{% block content %}

<!-- {% include 'partials/agentadmin.html' %} -->



<style>
    .rowform{
        margin-top: 5%;
    }
</style>
<div class="password-meter-area mg-b-15">
    <div class="container-fluid">
        <div class="rowform">                      
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="sparkline9-list mg-t-30">
                    <div class="sparkline9-hd">
                        <div class="main-sparkline9-hd">
                            <h1 class="text-aligne center">Ajouter une Operation<span class="password-mt-none"></span></h1>
                        </div>
                    </div>
                    <div class="sparkline9-graph">
                        <div id="pwd-container4">
                            <form action="{% url 'ajouterOperation' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group data-custon-pick" id="data_1">
                                    <label>Date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" class="form-control" value="10/04/2017" name="date" required>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label for="typeOp">Type d'operation</label>
                                <select class="select2_demo_3 form-control" name="typeOp" required>
                                    <option>Selectionner</option>
                                    {% for typeOp in typeOps %}
                                        <option value="{{ typeOp.id}}">{{ typeOp.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="caisse">Caisse</label>
                                <select class="select2_demo_3 form-control" name="caisse" required>
                                    <option value="" disabled selected>Selectionner</option>
                                    {% for caisse in caisses %}
                                        <option value="{{caisse.noCaisse}}">{{ caisse.compte}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="client">Client</label>
                                <select class="select2_demo_3 form-control" name="client" required>
                                    <option value="" disabled selected>Selectionner</option>
                                    {% for client in clients %}
                                        <option value="{{client.id}}">{{ client.nom}} {{ client.prenom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="operateur">Operateur</label>
                                <select class="select2_demo_3 form-control" name="operateur" required>
                                    <option>Selectionner</option>
                                    {% for operateur in operateurs %}
                                        <option value="{{ operateur.id}}">{{ operateur.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Montant</label>
                                <input type="text" class="form-control example4" id="password4" placeholder="Montant" name="montant" required>
                            </div>
                            <div class="form-group">
                                <label for="">identifient de transfere</label>
                                <input type="text" class="form-control example4" id="password4" placeholder="reference de tranfere" name="refOp" required>
                            </div>
                            <div class="form-group">
                                <label for="service">Service</label>
                                <select class="select2_demo_3 form-control" name="service" required>
                                    <option>Selectionner</option>
                                    {% for service in services %}
                                        <option value="{{service.noService}}">{{service.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="agent">Agent</label>
                                <select class="select2_demo_3 form-control" name="agent" required>
                                    <option>Selectionner</option>
                                    {% for agent in agents %}
                                        <option value="{{ agent.matricule}}">{{ agent.nom}} {{ agent.prenom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="agence">Agence</label>
                                <select class="select2_demo_3 form-control" name="agence" required>
                                    <option>Selectionner</option>
                                    {% for agence in agences %}
                                        <option value="{{ agence.NoAgence}}">{{ agence.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <label for="caisse">Caisse</label>
                                <select class="select2_demo_3 form-control" name="caisse" required>
                                    <option>Selectionner</option>
                                    {% for caisse in caisses %}
                                        <option value="{{ caisse.noCaisse}}">{{ caisse.compte}}</option>
                                    {% endfor %}
                                </select>
                            </div> -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Ajouter</button>
                                    </div>
                                </div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% include 'partials/footer.html' %}