{% load static %}

{% include 'partials/header.html' %}

{% block content %}

{% include 'partials/admin.html' %}
{% include 'partials/menuadmin.html' %}

{% include 'partials/welcome.html' %}

<style>
    .product-status{
        margin-top: 10%;
    }
</style>

<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst">
                    <h4>Liste des caisses</h4>
                    <style>
                        .col-6{
                            text-align: center;
                        }
                    </style>
                    <div class="text-center"> 
                        <form method="GET" role="search" action="" class="form-inline">
                            <div class="form-group">
                                <input type="text" name="q" placeholder="Rechercher..." class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </form>
                    
                    <div class="add-product">
                        <a href="{% url 'ajouterCaisse' %}">Ajouter</a>
                    </div>

                    <div class="text-right">
                        <a href="" class="btn btn-primary">Exporter</a>
                    </div>
                
                    
                   
                    <div class="asset-inner">
                        <table>
                            <tr>
                                <th>No</th>
                                <th>Compte</th>
                                <th>Agence</th>
                                <th>Agent</th>
                                <th>Option</th>
                            </tr>
                            {% for caisse in caisses %}
                            <tr>
                                <td>{{caisse.noCaisse}}</td>
                                <td>{{caisse.compte}}</td>
                                <td>{{caisse.agence.nom}}</td>
                                <td>{{caisse.agent.nom}} {{caisse.agent.prenom}}</td>
                                <td>
                                    <button data-toggle="tooltip" title="Edit" class="pd-setting"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button data-toggle="tooltip" title="Trash" class="pd-setting"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% include 'partials/footer.html' %}
