{% load static %}

<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href=""><img class="main-logo" src="" alt="" />ConsoCtrlPosteBF</a>
                <strong><a href=""><img src="" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="" href="{% url 'ccco' %}">
								   <!-- <span class="educate-icon educate-home icon-wrap"></span> -->
                                   <span class="mini-click-non"><i class="fa fa-tachometer" aria-hidden="true"></i>
                                    Tableau de bord </span>
							</a>
                        </li>
                        
            
                        <li>
                            <a class="has-arrow" href="" aria-expanded="false">
                                <!-- <span class="educate-icon educate-course icon-wrap"></span> -->
                                <span class="mini-click-non"><i class="fa fa-download" aria-hidden="true"></i>
                                Importer</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Importer" href="{% url 'importer' %}"><span class="mini-sub-pro">Importer</span></a></li>
                                <!-- <li><a title="Add Students" href=""><span class="mini-sub-pro">voir importation</span></a></li> -->
                                <!-- <li><a title="Add Students" href=""><span class="mini-sub-pro">voir bordereau agence</span></a></li> -->
                                <li><a title="consolidation" href="{% url 'consolidation' %}"><span class="mini-sub-pro">Voir consolidation</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>